extends start_layout

block content
  #main-background
    a.white#homelink(href='/') Kangaroo
    .vhdivider
    h1.center All in one delivery
    .vhdivider
    a.ghost-button.center(href='/gen_auth') Start
    .vhdivider
    .vhdivider
    .vhdivider
  
  .content
    .flex-container.center
      article
        h2 Get it <span>faster</span>
        p.
          With more deliverators per square mile than a whole chain of 
          restaurants, we get you your items in a flash. 
        
      article
        h2 Get it <span>cheaper</span>
        p.
          Unlike a traditional delivery system, we map deliveries to our 
          team's daily lives.  If deliverator John is going grocery shopping, 
          for instance, we would have him pick up someone's order from there 
          and deliver it en route.
        p.
          Because deliveries are plotted along what we are doing anyways, we 
          accept much lower rates of pay.
      article 
        h2 Join us
        p.
          Being one of our deliverators is not a <i>job</i>.  There are no 
          hours, no bosses, and no taxes.
        p How?
        p.
          Just Instead of working long shifts, deliverators only work for a few 
          minutes at a time.  You sign off and sign on at your convenience, and 
          and our algorithms give you deliveries which fit <b>your</b> schedule.
    .vhdivider
    .flex-container.center
      article
        h2 Step one
      article
        h2 Step two
      
          
          
